/*color de body*/
body {
    background-color: #4c5355;
}

/*color nav*/
.custom-navbar {
    background-color: #0b1119;
}

/*imagen de nav*/
.img-logonav {
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

/*posicion de header*/
header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*color de texto*/
.custom-text-color{
    color: aliceblue;
}

.cardperson {
    min-height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


/*footer de la pagina*/
footer{
    background-color: #0b1119;
    height: auto;
    padding-bottom: 50px;
  }
/*paddings del footer*/
.foot {
    padding-left: 80px;
    padding-right: 80px;
}
/*enlaces rapidos del footer*/
.footerli {
    text-decoration: none;
}
/*redes sociales del footer*/
.redes {
    display: flex;
    flex-direction: column;
}


/*card redes sociales*/

.card {
    --bg: #0b1119;
    --hover-bg: #cccacb;
    --hover-text: #000000;
    max-width: 23ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  
  .card__body {
    color: #ffffff;
    line-height: 1.5em;
    font-size: 1em;
  }
  
  .card > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }
  
  .card > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
  }
  
  .card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
  }
  
  .card:hover span {
    top: 0;
    font-size: 1.2em;
  }
  
  .card:hover {
    background: var(--hover-bg);
  }
  
  .card:hover>div,.card:hover>strong {
    opacity: 0;
  }

.card-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}